@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@100;400;700&display=swap');

:root {
  --color-blue-light: #8DBAE7;
  --color-blue-medium: #046BD1;
  --color-blue-dark: #022A52;
  --color-white: #FFFFFF;

  --font-header: 'Poppins', sans-serif;
  --font-text: 'Lato', sans-serif;
}

html {
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  margin-top:0;
  font-family: var(--font-text);
  font-weight: 100;
  background-color: var(--color-blue-dark);
}

a {
  color: var(--color-blue-light);
  text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-blue-light);
  font-family: var(--font-header);
  font-weight: 400;
  margin-top: 0;
}

p {
  color: var(--color-white);
  font-family: var(--font-text);
}

* {
  box-sizing: border-box;
}