.article {
    max-width: 800px;
    background-color: white;
    margin: auto;
    position: relative;
    top: -30px;
    padding: 2rem 4rem;
    box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.604);
}

.article h2 {
    color: var(--color-blue-medium);
    font-size: 1.2rem;
    font-weight: 700;
}

.article h3 {
    color: var(--color-blue-medium);
    font-size: 1.3rem !important;
    font-weight: 700;
    letter-spacing: .03rem;
    margin: 4rem 0 0 0;
}

.article h3:first-child {
    margin: 1rem 0 0 0 ;
}

.article p {
    color: var(--color-blue-dark);
    font-weight: 400;
    line-height: 1.7rem;
}

.article ul li {
    color: var(--color-blue-medium);
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .article {
        padding: 2rem 2rem;
        max-width: 90vw;
    }


}