.blogSection {
    background-color: #CDCDCD;
    min-height: 50vh;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        justify-content: center;
    }
}

