.wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
}

.wrapper input {
    padding: 1rem;
    width: 50%;
    border-radius: 5px;
    border: none;
}

.wrapper input:focus {
    outline: none;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 1rem;
}